.experienceBar {
    display: flex;
    align-items: center;

}

.experienceBar span{
    font-size: 1rem;
}

.experienceBar > div{
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div{
    height: 4px;
    border-radius: 4px;
    background: var(--green);
}

span.currentExperience {
    position: absolute;
    top: 12px;
    transform: translateX(-50%);

    background: var(--blue);
    color: var(--white);
    padding: .2rem;
    border-radius: 5px;
}

span.currentExperience:after {
    content: '';
    position: absolute;
    left: 1.3rem;
    top: -0.3rem;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--blue);
    clear: both;
    transform: translateX(-50%);
    z-index: -1;
}

